
.important{
  background-color: pink;
  font-style: italic;
  font-size: 20px;
}

#bluee{
  background-color: blue;
  font-weight: bold;
}

#yellow{
background-color: yellowgreen;
font-family: fantasy;
font-weight: bolder;

}
